html, body {
  height      : 100%;
  color       : $nd-gray;
  margin      : 0;
  padding     : 0;
  display     : block;
  overflow-x  : hidden;
  overflow-y  : auto;
  font-family : $primary-font;
  font-weight : normal;
}

:focus {
  outline     : none;
}
