
.text-center { text-align: center !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-cap { text-transform: capitalize !important; }
.text-upper { text-transform: uppercase !important; }
.text-lower { text-transform: lowercase !important; }

.overflow-hidden {
  overflow: hidden !important;
}