
/*
  * FONT FAMILIES
*/
$base-font: Helvetica, "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, Oxygen-Sans, Ubuntu, sans-serif;
$primary-font: append("Google Sans", $base-font, comma);
$secundary-font: append("Roboto", $base-font, comma);

/*
  * FONT SIZEs AS VARIABLES
*/
$font-base: 10px;

$font-xs  : 14px;
$font-sm  : 16px;
$font-md  : 18px;
$font-lg  : 20px;
$font-xl  : 25px;
$font-2xl : 30px;
$font-3xl : 35px;
$font-4xl : 40px;
$font-5xl : 45px;
$font-6xl : 60px;

/*
 * FONT SIZEs AS MAP
 */
$nd-font-sizes: (
  base : $font-base,
  xs   : $font-xs,
  sm   : $font-sm,
  md   : $font-md,
  lg   : $font-lg,
  xl   : $font-xl,
  2xl  : $font-2xl,
  3xl  : $font-3xl,
  4xl  : $font-4xl,
  5xl  : $font-5xl,
  6xl  : $font-6xl
);

/*
 * FONT WEIGHTs
 */
$font-weight-normal : 400;
$font-weight-medium : 500;
$font-weight-bold   : 700;